# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build outputs
build/
dist/
*.manifest
*.spec.bak

# Binaries (exceed GitHub 100MB file limit)
bin/*.exe
bin/*.zip


# Logs and databases
*.log

# Environments
.venv/
venv/
ENV/
env/

# IDE & Editor folders
.vscode/
.idea/
*.swp
*.swo

# OS temporary files
Thumbs.db
Desktop.ini
.DS_Store
